<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INetCacheService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50040/NetCacheService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INetCacheService"
                contract="CacheService.INetCacheService" name="BasicHttpBinding_INetCacheService" />
        </client>
    </system.serviceModel>
</configuration>